html, body {
  font: 300 36px "Helvetica Neue";
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
}

a:link, a:visited {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #666;
}

body > ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
}

h1, h2, h3 {
  font-weight: inherit;
  margin: 0;
}

h2, h3 {
  text-align: right;
  font-size: inherit;
  position: absolute;
  bottom: 0;
  right: 0;
}

h2 {
  font-size: 24px;
  position: absolute;
}

h3 {
  bottom: -20px;
  font-size: 18px;
}

.invert {
  background: #1f1f1f;
  color: #dcdccc;
}

.invert h2, .invert h3 {
  color: #7f9f7f;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

body > svg {
  position: absolute;
  top: -80px;
  left: -160px;
}

path.arc {
  fill: #fff;
}

.node {
  font-size: 13px;
}

.node:hover {
  fill: #1f77b4;
}

.link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
}

.link.source, .link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.node.target {
  fill: #d62728 !important;
}

.link.source {
  stroke: #d62728;
}

.node.source {
  fill: #2ca02c;
}

.link.target {
  stroke: #2ca02c;
}



#map {
  width: 100%;
}

.node-active {
  stroke: #FFF;
  stroke-width: 1.5;
}
.node-active circle {
  fill: #000 !important;
}


.button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20%;
  text-align: right;
  border: 3px solid #0F0;
  background-color: #FFF;
  padding: 5px;
  z-index: 100;
}

#waiting {
  position: absolute;
  display: block;
  width: 20%;
  height: 20%;
  top: 40%;
  bottom: 40%;
  left: 40%;
  right: 40%;
  background-color: #FFF;
  text-align: center;
}

#modal {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #FFF;
}

#modal:target {
  padding: 20px;
  display: block;
}

#explain {
  display: table;
  float: right;
  width: 45%;
  margin-top: 100px;
  font-size: 25px;
  height: 85%;
}

#explain .text {
  display: table-cell;
  vertical-align: middle;
}

